<h2><%= l(:label_announcement_plural) %></h2>

<div class="box">
  <% if @announcements.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render @announcements %>
  <% end %>
  <%= link_to l(:button_add), new_announcement_path, :remote => true %>
</div>

<%# Ensure we get Wiki code %>
<% heads_for_wiki_formatter %>
<% include_calendar_headers_tags %>